@import '../constants';

.appContainer {
  width: 100%;
  height: 100%;
}

.mottoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: $light-grey;
  padding-top: 100px;
}

.motto {
  @include header-style;
}

.huntersLifeContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 550px;
  background-color: black;
}

.titleContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 150px;

  .subheader {
    font-family: 'ubuntu', sans-serif;
    font-size: 1.5em;
    color: white;
    margin: 0px;
  }

  .header {
    font-family: 'ubuntu', sans-serif;
    font-size: 6em;
    margin: 0;
    color: $gold;
    text-shadow: 2px 2px 20px black;
  }
}

.huntersLifeImage {
  height: 450px;
  width: 750px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 200px;
}

.journalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  margin: 50px 0;

  .journalTitle {
    font-family: 'ubuntu', sans-serif;
    font-size: 3em;
  }
}

.sponsorLogoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $gold;
  padding: 10px;

  .sponsorLogo {
    width: 300px;
    height: 200px;
    margin-right: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.articleContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 100px;

  .articlePreview {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    flex-wrap: wrap;
    margin: 0 15px;
  }

  .articleTitle {
    font-family: 'ubuntu', sans-serif;
    font-size: 1.5em;
    text-align: center;
  }

  .articleLead {
    font-family: 'ubuntu', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.75em;
  }
}

.ReadNowButton {
  @include black-button-style;
}

.MoreArticlesButton {
  @include white-button-style;
}

.articlePreviewLink {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}

.articleLead {
  font-family: 'ubuntu', sans-serif;
  font-size: 1em;
  text-align: center;
}

.readNowLink {
  text-decoration: none;
  color: black;
}
