@import '../constants';

.articleTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: $light-grey;
  padding-top: 100px;
}

.articleListTitle {
  @include header-style;
}

.articleGridContainer {
  background-color: white;
  // width: 100%;
  padding: 50px;
}

.journalTitle {
  @include subheader-style;
}

.articlePhoto {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.rowContainer {
  display: flex;
  flex-direction: row;
  flex-basis: 33%;
  flex-wrap: wrap;

  .container {
    align-items: flex-end;
    justify-content: center;
    width: calc(33% - 30px);
    height: 100%;
    display: flex;
    background-color: black;
    margin: 15px;

    .title {
      position: absolute;
      color: $gold;
      @include subheader-style;
      opacity: 0;
      padding-bottom: 50px;
    }

    &:hover {
      .title{
        opacity: 1;
        pointer-events: none;
      }
    }
  }
}
