@import '../constants';

.pageLinks {
  @include subheader-style;
  color: white;

  &:hover {
    transition: all 0.4s ease;
    cursor: pointer;
    color: $gold;
  }
}

.linkStyle {
  text-decoration: none;
}
